*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width : 100%;
}


#main{
    height: 100%;
    width: 100%;
    padding: 30px;
    background-color: rgb(244, 255, 196);
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    height: 300px;
    width: 350px;
    border-radius:10px;
    background-color: aquamarine;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.card img{
    height: 100%;
    width:  100%;
    object-fit: cover;
    border-radius:10px;

}

.bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    background: linear-gradient(transparent, rgb(0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: -40%;
    transition: all ease 0.5s;

}


.card:hover .bottom{
    bottom: 0%;
}

.bottom h4{
    color: white;
    padding: 25px;
}

.bottom h3{
    color: white;
    padding: 25px;
    border-radius: 50%;
}